.app-header {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 60px;
    grid-template-columns: 140px minmax(100px, 1.4fr) min-content;

    grid-template-columns: min-content minmax(200px, 1.5fr) minmax(min-content, 0.5fr);
    padding: 0 10px;
    background-color: transparent;
}

.app-header .actions-container {
    grid-auto-flow: column;
    place-content: end;
    align-items: center;
}

.app-header nav {
    position: absolute;
    bottom: 0;
    right: 1rem;
    translate: 0 100%;
    background: var(--Mclr5);
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0px 0 10px 3px rgb(145 144 144 / 20%);
    width: 150px;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    z-index: 1000;
}

.app-header nav .router-link-active {
    color: var(--Mclr6);
}
.logo {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    max-width: 140px;
    /* gap: 0.2rem; */
}

.logo .app-name {
    display: none;
}
.logo .app-logo {
    width: 50px;
    height: 50px;
    background-image: url("./../../img/google-sprite.png");
}

.link-logo {
    width: 50px;
    height: 50px;
    background-image: url("./../../img/google-sprite.png");
}

.app-logo.yt,
.link-logo.yt {
    background-position-y: 400px;
}
.app-logo.gmail,
.link-logo.gmail {
    background-position-y: 806px;
}
.app-logo.keep,
.link-logo.keep {
    background-position-y: 2370px;
}

.app-logo.apps,
.link-logo.apps {
    background-position-y: 2487px;
}

.app-header .apps-btn {
    margin-inline-start: auto;
}

body[app="gmail"] .app-header {
    background: var(--Mclr1);
}
body[app="keep"] .app-header {
    background: var(--Mclr5);
    position: sticky;
    top: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 20;
}
body[app="youtube"] .app-header {
    background: var(--Mclr5);
}
body[app="apps"] .app-header {
    background: var(--Mclr5);
    box-shadow: none;
}

@media (width> 500px) {
    .app-header {
        grid-template-columns: minmax(140px, 0.5fr) minmax(200px, 1.5fr) minmax(min-content, 0.5fr);
    }
    .logo .app-name {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--Mclr6);
        display: revert;
    }
}
