.home {
 display: grid;
 place-content: center;
 grid-auto-flow: row;
 align-items: center;
 gap: 1rem;
 height: 90vh;
}

.home img {
 max-width: 200px;
 max-height: 200px;
}

@media (width> 640px) {
 .home {
  place-content: center;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  height: 90vh;
 }
 .home img {
  max-height: 150px;
  object-fit: cover;
 }
}
