.k-side-nav {
 width: 40px; /* Initial width */
 transition: all 0.2s ease-in 0.3s; /* Transition for width with a delay of 1s */
 position: fixed;
 left: 1rem;
 top: 61px;
 background: var(--Kclr1);
 /* padding: 1rem; */
 box-shadow: none;
 margin-inline-start: -1rem;
 padding: 1rem;
 height: 100vh;
}

.k-side-nav:hover {
 width: 250px; /* Target width on hover */
 box-shadow: 1px 20px 10px 3px rgb(48 48 48 / 20%);
 /* border-inline-end: 1px solid var(--Kclr2); */
}
