.label-list {
 gap: 1rem;
 width: 50vw;
}

.label-list .action-container {
 justify-content: end;
 grid-auto-flow: column;
}

.label-list .app-btn.cancel {
 background: none;
 border: none;
 color: var(--Mclr6);
}

.label-list .app-btn.cancel:hover {
 background-color: #f1f3f47a;
}
