.mail-index .list-container {
 border-radius: 0.8rem;
 background: var(--Mclr5);
 height: 95%;
}

.mail-list {
 overflow-y: auto;
 max-height: 90%;
 scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
.mail-index .list-container .mail-actions {
 padding: 0.5rem;
 max-width: 100%;
}

.mail-index .list-container .list-actions .header-actions {
 grid-auto-flow: column;
 justify-content: start;
 margin-inline-start: 0.5rem;
}

.mail-list::-webkit-scrollbar {
 width: 10px;
 margin-top: 10px;
}
.mail-list::-webkit-scrollbar-thumb {
 background: var(--sb-thumb-color);
}

@media (width>500px) {
 .list-container .mail-actions {
  padding: 0.5rem;
  max-width: 50%;
 }
}
