.mail-index {
  color: var(--Mclr7);
  grid-template-columns: 0.6fr 1.4fr 1fr;
  grid-template-rows: 0.3fr 2.3fr;
  gap: 10px 10px;
  grid-template-areas:
    "compose mail-router mail-router"
    "sideNav mail-router mail-router";
  height: 90vh;
}

.mail-router {
  padding-top: 1rem;
  grid-area: mail-router;
}

.compose {
  background: var(--Mclr3);
  border-radius: 1rem;
  grid-area: compose;
  grid-auto-flow: column;
  align-items: center;
  margin-inline-start: -0.5rem;
  max-width: 140px;
}

.compose:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}
.compose p {
  margin: 0;
  font-size: 1rem;
  color: #001d35;
  min-width: 100px;
  font-weight: 500;
}
