.list-container {
 border-radius: 0.8rem;
 background: var(--Mclr5);
 height: 95%;
}

.mail-list {
 overflow-y: auto;
 max-height: 90%;
 scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.mail-list::-webkit-scrollbar {
 width: 10px;
 margin-top: 10px;
}
.mail-list::-webkit-scrollbar-thumb {
 background: var(--sb-thumb-color);
}
