#editor-container {
 height: 200px;
 width: 350px;
}

.ql-toolbar {
 width: 350px;
}

.mail-compose {
 border-top-left-radius: var(--Mbr);
 border-top-right-radius: var(--Mbr);

 padding-bottom: 0.5rem;
 /* border-radius: var(--Mbr); */

 /* grid-template-columns: 0.2rem 1fr 0.2rem; */
 grid-template-rows: 2rem 1fr 2rem;
 align-items: center;
 background: var(--Mclr5);
 position: fixed;
 bottom: 0px;
 right: 1em;
 z-index: 100;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.mail-compose > * {
 padding-inline: 0.5rem;
}
.mail-compose.small {
 height: 60%;
 width: 50%;
}
.mail-compose.collapsed {
 height: 40px;
 width: 350px;
}
.mail-compose.expend {
 left: 50%;
 top: 50%;
 translate: -50% -50%;
 height: 80vh;
 width: 80vw;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.mail-compose .material-symbols-outlined {
 font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
 color: var(--Mclr6);
 font-size: 1em;
}

.compose-header {
 border-top-left-radius: var(--Mbr);
 border-top-right-radius: var(--Mbr);
 grid-area: 1;
 grid-auto-flow: column;
 background: var(--Mclr1);
 height: 100%;
 align-items: center;
}

.compose-header h4 {
 color: var(--Mclr9);
}
.compose-header > * {
 margin: 0;
}
.compose-header .header-actions {
 margin-inline-start: auto;
}
.mail-form {
 display: grid;
 gap: 0.5em;
 height: 100%;
 grid-template-rows: 40px 40px 1fr;
}

.mail-form :is(input, textarea) {
 outline: none;
 border: none;
 border-bottom: 2px solid var(--Mclr1);
 background: var(--Mclr5);
 padding: 0.5em;
}

.mail-form textarea {
 resize: none;
 border: none;
}

.compose-actions .send-btn {
 padding: 0.5em 1em;
 background: var(--Mbtn);
 color: var(--Mclr1);
 font-weight: 600;
}
