.note-list {
}
.note-list .note-container {
 column-count: 5;
 column-gap: 1rem;
 column-width: 225px;
 margin: 1rem 0;
 position: relative;
}

.note-list .note-container .note-preview {
 break-inside: avoid-column;
 outline: 1px solid var(--Kclr4);
 border-radius: var(--Kbr);
 margin-bottom: 1rem;
}

.note-list small {
 margin-inline-start: 0.5rem;
}
