.user-preview {
 background: var(--Mclr6);
 height: 40px;
 width: 40px;
 border-radius: 50%;
 place-items: center;
 color: var(--Mclr5);
}
.user-preview.header {
 background: var(--Mclr6);
 height: 30px;
 width: 30px;
 border-radius: 50%;
 place-items: center;
 color: var(--Mclr5);
 font-size: 0.7rem;
}
