.video-preview {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    cursor: pointer;
    position: relative;
    /* max-height: 50px; */
}

.video-preview img {
    height: 100%;
    object-fit: cover;
    border-radius: var(--Ybr);
}

.video-info {
    grid-auto-flow: column;
    font-size: 12px;
}

.video-preview p {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img-container {
    position: relative;
}
.img-container:hover .preview-action {
    display: grid;
}
.img-container .preview-action {
    display: none;
    place-items: center;
    position: absolute;
    background: black;
    color: var(--Kclr2);
    border: none;
    padding: 2px;
}
