.yt-watch {
    margin-top: 1.5rem;
    height: 100vh;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 1fr 1fr 1fr;
    gap: 1.2rem 1.2rem;
    /* grid-auto-flow: row; */
    grid-template-areas:
        "main-video"
        "main-video"
        "main-video"
        "wiki"
        "video-list"
        "video-list"
        "video-list"
        "video-list ";
}

@media (width> 900px) {
    .yt-watch {
        height: 100vh;
        height: 100dvh;
        margin-top: 1.5rem;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 70vh 1fr 1fr 1fr;
        gap: 1.2rem 1.2rem;
        grid-auto-flow: row;
        grid-template-areas:
            "video-list main-video"
            "video-list main-video"
            "video-list main-video"
            "video-list wiki";
    }
}
