@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
 box-sizing: border-box;
}

:root {
 /* about vars */

 --Aclr1: #4682b4;
 --Aclr2: #efeeee;
 --Aclr3: #444;
}

html {
 font-family: "Roboto";
 scroll-behavior: smooth;
 /* font-family: Arial, Helvetica, sans-serif; */
}
a {
 text-decoration: none;
}
body {
 font-weight: 400;
 margin: 0;
 background: var(--Aclr2);
 overflow-x: hidden;
 color: var(--Aclr3);
}

main {
 display: grid;
 place-content: center;
 height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 400;
}
strong {
 font-weight: 500;
}

.about-page {
 height: 100vh;
}

.about header,
.about footer {
 background: var(--Aclr1);
 color: var(--Aclr2);
}

.about footer {
 gap: 1rem;
 padding: 0.2rem;
 text-align: center;
 font-weight: 200;
}

.about footer :is(.fa-brands, .fa-solid) {
 font-size: 1.8rem;
 color: var(--Aclr2);
}

.social-media-container {
 place-content: center;
 gap: 2rem;
 grid-auto-flow: column;
}

/* helpers */
.grid {
 display: grid;
}
.main-layout {
 display: grid;
 grid-template-columns: 40px 1fr 40px;
}

.main-layout > *:not(.full) {
 display: grid;
 grid-column: 2;
}

.full {
 grid-column: 1/-1;
}

.app-name {
 cursor: pointer;
 color: var(--Aclr1);
 text-decoration: underline;
}
